designs/pages/Login.json
[
    {
        "id": "sd_jgqBPWkWITNNna7w",
        "type": "tab",
        "createdDate": "2024-05-17T06:17:59.208Z",
        "label": "Login",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "LoginComponent"
    },
    {
        "id": "sd_GjMoL6KHykrzlJLW",
        "type": "OnInit",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_GjMoL6KHykrzlJLW",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_cPFVoyxjSOEO4LA1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "LoginComponent"
    },
    {
        "id": "sd_ncSLz9Boc4CsUqI0",
        "type": "PageVariables",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "loginForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_ncSLz9Boc4CsUqI0",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_Qj4832oyZMd6zQQE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_cPFVoyxjSOEO4LA1",
        "type": "UseDependency",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_cPFVoyxjSOEO4LA1",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_ncSLz9Boc4CsUqI0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_Qj4832oyZMd6zQQE",
        "type": "Script",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loginForm = new FormGroup({\n    username: new FormControl(''),\n    password: new FormControl('')\n});\n\nconsole.log('page', page)",
        "functionName": "sd_Qj4832oyZMd6zQQE",
        "category": "Function",
        "x": 325,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_imZuIadbb8nFY2xH",
        "type": "PageStart",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "pages",
        "nodeType": "start",
        "name": "Submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "sd_xR7mNZVflpAE3XOE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "LoginComponent"
    },
    {
        "id": "sd_xR7mNZVflpAE3XOE",
        "type": "PageSwitch",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loginForm.valid",
        "propertyType": "this.page",
        "propertyGv": "this.page.loginForm.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_xR7mNZVflpAE3XOE",
        "category": "Function",
        "x": 205,
        "y": 200,
        "wires": [
            [
                "sd_OuNkwmBoNaWGFpEl"
            ],
            [
                "sd_DSuRJ321KoU6Gh4C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_OuNkwmBoNaWGFpEl",
        "type": "SnackBar",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please download the FNB Application to Login"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_OuNkwmBoNaWGFpEl",
        "category": "General",
        "x": 340,
        "y": 180,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_DSuRJ321KoU6Gh4C",
        "type": "SnackBar",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill all the input"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_DSuRJ321KoU6Gh4C",
        "category": "General",
        "x": 340,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    },
    {
        "id": "sd_ENLxgoEU3XX0UBwO",
        "type": "PageStart",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "sd_PKm9uu1gIrvdUTtm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "LoginComponent"
    },
    {
        "id": "sd_PKm9uu1gIrvdUTtm",
        "type": "PageCallService",
        "z": "sd_jgqBPWkWITNNna7w",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_JvSdJbOo4jcXn94e",
            "type": "tab",
            "createdDate": "2024-05-17T07:22:07.165Z",
            "label": "Common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ICNt0OG5fw5WUhW5",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/Common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_PKm9uu1gIrvdUTtm",
        "category": "General",
        "x": 285,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "LoginComponent",
        "generated": true
    }
]
