designs/pages/register.json
[
    {
        "id": "sd_tICxe7qPhqRvK1jx",
        "type": "tab",
        "createdDate": "2024-05-13T12:52:56.435Z",
        "label": "register",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_yWnnzHhLZWKu6ZG8",
        "type": "OnInit",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_yWnnzHhLZWKu6ZG8",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 40,
        "wires": [
            [
                "sd_CrCcre20qRV4tpPJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_ZzOvZ6UEt9Cuxr6f",
        "type": "PageVariables",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "stateGroups",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "filteredOptions",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "registerForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "result",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "result"
                }
            }
        ],
        "functionName": "sd_ZzOvZ6UEt9Cuxr6f",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_Iu8ygKxUV790J4YD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_W6dZVXAe9yjgVCoM",
        "type": "PageStart",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "start",
        "name": "filterData",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "filter",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "filterData",
        "category": "General",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "sd_zcMESMzUzzycGX5x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_zcMESMzUzzycGX5x",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.filter.target.value);\npage.filteredOptions = page.stateGroups.filter(el=>el.letter === bh.input.filter.target.value);",
        "functionName": "sd_zcMESMzUzzycGX5x",
        "category": "Function",
        "x": 300,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_jm9PJvmykhcix8YS",
        "type": "PageStart",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 45,
        "y": 320,
        "wires": [
            [
                "sd_eWumEgN06CVxqsEc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_tBTHLjmwz5Q0mftK",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.url = bh.ssdUrl + 'register' \n\nconsole.log(\"bh\", bh)\nconsole.log(\"page\", page)\n",
        "functionName": "sd_tBTHLjmwz5Q0mftK",
        "category": "Function",
        "x": 425,
        "y": 320,
        "wires": [
            [
                "sd_8hnxYK0buXPRZf6Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_gQZAvvRMz5G5uysH",
        "type": "Environment",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_gQZAvvRMz5G5uysH",
        "category": "General",
        "x": 305,
        "y": 320,
        "wires": [
            [
                "sd_tBTHLjmwz5Q0mftK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_8hnxYK0buXPRZf6Z",
        "type": "HttpRequest",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.registerForm.value",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "registerForm.value"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_8hnxYK0buXPRZf6Z",
        "category": "HTTP",
        "x": 525,
        "y": 320,
        "wires": [
            [
                "sd_qCRXFjBkKQWQ7H1W"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_CrCcre20qRV4tpPJ",
        "type": "UseDependency",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_CrCcre20qRV4tpPJ",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_ZzOvZ6UEt9Cuxr6f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_Iu8ygKxUV790J4YD",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": " page.stateGroups= [\n  { letter: 'A', names: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan'] },\n  { letter: 'B', names: ['Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi'] },\n  { letter: 'C', names: ['Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic'] },\n  { letter: 'D', names: ['Denmark', 'Djibouti', 'Dominica', 'Dominican Republic'] },\n  { letter: 'E', names: ['Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia'] },\n  { letter: 'F', names: ['Fiji', 'Finland', 'France'] },\n  { letter: 'G', names: ['Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana'] },\n  { letter: 'H', names: ['Haiti', 'Honduras', 'Hungary'] },\n  { letter: 'I', names: ['Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast'] },\n  { letter: 'J', names: ['Jamaica', 'Japan', 'Jordan'] },\n  { letter: 'K', names: ['Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan'] },\n  { letter: 'L', names: ['Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg'] },\n  { letter: 'M', names: ['Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar'] },\n  { letter: 'N', names: ['Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia', 'Norway'] },\n  { letter: 'O', names: ['Oman'] },\n  { letter: 'P', names: ['Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal'] },\n  { letter: 'Q', names: ['Qatar'] },\n  { letter: 'R', names: ['Romania', 'Russia', 'Rwanda'] },\n  { letter: 'S', names: ['Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria'] },\n  { letter: 'T', names: ['Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu'] },\n  { letter: 'U', names: ['Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan'] },\n  { letter: 'V', names: ['Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam'] },\n  { letter: 'Y', names: ['Yemen'] },\n  { letter: 'Z', names: ['Zambia', 'Zimbabwe'] }\n]\n\n  \n   \n\n\n\n\npage.registerForm = new FormGroup({\n    title: new FormControl(''),\n    name: new FormControl(''),\n    surname: new FormControl(''),\n    race: new FormControl(''),\n    email: new FormControl(''),\n    income: new FormControl(''),\n    depedents: new FormControl(''),\n    marital: new FormControl(''),\n    qualification: new FormControl(''),\n    country: new FormControl(''),\n    // countryName: new FormControl(''),\n    address: new FormControl(''),\n    sourceOfIncome: new FormControl(''),\n    additionalIncome: new FormControl(false ),\n    tax: new FormControl(false),\n\n});\n\n",
        "functionName": "sd_Iu8ygKxUV790J4YD",
        "category": "Function",
        "x": 385,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_BttHs1eBZm8wwzJF",
        "type": "SnackBar",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "registration successful"
        },
        "action": {
            "type": "str",
            "value": "\"OK\""
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_BttHs1eBZm8wwzJF",
        "category": "General",
        "x": 745,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_eWumEgN06CVxqsEc",
        "type": "PageSwitch",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "registerForm.valid",
        "propertyType": "this.page",
        "propertyGv": "this.page.registerForm.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_eWumEgN06CVxqsEc",
        "category": "Function",
        "x": 185,
        "y": 320,
        "wires": [
            [
                "sd_gQZAvvRMz5G5uysH"
            ],
            [
                "sd_pMLNfYntoY1nXS2C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_pMLNfYntoY1nXS2C",
        "type": "SnackBar",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill all the fields"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_pMLNfYntoY1nXS2C",
        "category": "General",
        "x": 340,
        "y": 420,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_c75t1EgWOBHrdv1q",
        "type": "PageStart",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "start",
        "name": "goBack",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "goBack",
        "category": "General",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "sd_EpaoexcTgthHfxV2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_EpaoexcTgthHfxV2",
        "type": "PageCallService",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_JvSdJbOo4jcXn94e",
            "type": "tab",
            "createdDate": "2024-05-17T07:22:07.165Z",
            "label": "Common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ICNt0OG5fw5WUhW5",
            "flowName": "goBack"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/Common",
        "startName": "goBack",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_EpaoexcTgthHfxV2",
        "category": "General",
        "x": 280,
        "y": 540,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_qCRXFjBkKQWQ7H1W",
        "type": "Script",
        "z": "sd_tICxe7qPhqRvK1jx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.registerForm.reset()",
        "functionName": "sd_qCRXFjBkKQWQ7H1W",
        "category": "Function",
        "x": 625,
        "y": 320,
        "wires": [
            [
                "sd_BttHs1eBZm8wwzJF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    }
]
