designs/pages/regulation.json
[
    {
        "id": "sd_eS3ZSLyNOHfsH56r",
        "type": "tab",
        "createdDate": "2024-05-22T09:13:22.312Z",
        "label": "regulation",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "regulationComponent"
    },
    {
        "id": "sd_nHD1aAS1VlNkamo4",
        "type": "OnInit",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_nHD1aAS1VlNkamo4",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_xROL0Y2fL8shU23C"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "regulationComponent"
    },
    {
        "id": "sd_xROL0Y2fL8shU23C",
        "type": "PageVariables",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "regulation",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_xROL0Y2fL8shU23C",
        "category": "Function",
        "x": 185,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_OvrEB4pafD6TtOXo",
        "type": "PageStart",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "sd_g9qp3nwYlXcyMm4S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "regulationComponent"
    },
    {
        "id": "sd_bOgjtGL7bgk0hrS8",
        "type": "PageSwitch",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "invalidSignature",
        "propertyType": "this.page",
        "propertyGv": "this.page.invalidSignature",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_bOgjtGL7bgk0hrS8",
        "category": "Function",
        "x": 205,
        "y": 260,
        "wires": [
            [],
            [
                "sd_8WFqb2nab2CbY3IO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "regulationComponent"
    },
    {
        "id": "sd_g9qp3nwYlXcyMm4S",
        "type": "SnackBar",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Registration succesful"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_g9qp3nwYlXcyMm4S",
        "category": "General",
        "x": 325,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "regulationComponent",
        "generated": true
    },
    {
        "id": "sd_8WFqb2nab2CbY3IO",
        "type": "Log",
        "z": "sd_eS3ZSLyNOHfsH56r",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.regulation",
        "functionName": "sd_8WFqb2nab2CbY3IO",
        "category": "General",
        "x": 325,
        "y": 260,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "regulation",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "regulationComponent"
    }
]
