designs/pages/signaturePad.json
[
    {
        "id": "sd_nxJfEiOcdy8AGcw0",
        "type": "tab",
        "createdDate": "2024-05-13T12:53:28.031Z",
        "label": "signaturePad",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "signaturePadComponent"
    },
    {
        "id": "sd_uMfxa7ES1YMNQkWK",
        "type": "OnInit",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_uMfxa7ES1YMNQkWK",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 40,
        "wires": [
            [
                "sd_rwd3m5sAQn8XvuOW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "signaturePadComponent"
    },
    {
        "id": "sd_g5G9ozNbZmQHIU4L",
        "type": "PageVariables",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "base64String",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            },
            {
                "textIp": "signaturePad",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "canvas",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "invalidSignature",
                "typedIpValue": {
                    "type": "literal",
                    "value": "false"
                }
            }
        ],
        "functionName": "sd_g5G9ozNbZmQHIU4L",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_f3W8q09BJ3zS5M8Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    },
    {
        "id": "sd_rwd3m5sAQn8XvuOW",
        "type": "UseDependency",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "SignaturePad",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "signature_pad",
        "serviceDesignerType": "pages",
        "functionName": "sd_rwd3m5sAQn8XvuOW",
        "category": "Function",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "sd_g5G9ozNbZmQHIU4L"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    },
    {
        "id": "sd_V8hOsYYzic0Wnhnc",
        "type": "PageStart",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submitSignature",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submitSignature",
        "category": "General",
        "x": 125,
        "y": 260,
        "wires": [
            [
                "sd_hDFNvfJsgjXEkTgq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "signaturePadComponent"
    },
    {
        "id": "sd_hDFNvfJsgjXEkTgq",
        "type": "Script",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if (page.signaturePad.isEmpty()) {\n    page.invalidSignature = true;\n} else {\n    page.invalidSignature = false;\n    page.base64String = page.signaturePad.toDataURL(\"image/png\");\n}",
        "functionName": "sd_hDFNvfJsgjXEkTgq",
        "category": "Function",
        "x": 245,
        "y": 260,
        "wires": [
            [
                "sd_e3E1DYsDOaedw3qE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    },
    {
        "id": "sd_f3W8q09BJ3zS5M8Z",
        "type": "Script",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.canvas = document.querySelector(\"canvas\") as HTMLCanvasElement;\n// page.signaturePad = new SignaturePad(page.canvas);",
        "functionName": "sd_f3W8q09BJ3zS5M8Z",
        "category": "Function",
        "x": 345,
        "y": 40,
        "wires": [
            [
                "sd_Kn9shEn1VPkknnpe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    },
    {
        "id": "sd_Kn9shEn1VPkknnpe",
        "type": "Log",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.signaturePad",
        "functionName": "sd_Kn9shEn1VPkknnpe",
        "category": "General",
        "x": 465,
        "y": 40,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "signaturePad",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    },
    {
        "id": "sd_lrR8KMs6QcR681DR",
        "type": "PageStart",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "pages",
        "nodeType": "start",
        "name": "clearSignature",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "clearSignature",
        "category": "General",
        "x": 85,
        "y": 160,
        "wires": [
            [
                "sd_tHqnv1TaKmQJvpPv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "signaturePadComponent"
    },
    {
        "id": "sd_tHqnv1TaKmQJvpPv",
        "type": "Script",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.signaturePad.clear();\npage.base64String = '';\n",
        "functionName": "sd_tHqnv1TaKmQJvpPv",
        "category": "Function",
        "x": 220,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    },
    {
        "id": "sd_e3E1DYsDOaedw3qE",
        "type": "PageSwitch",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "invalidSignature",
        "propertyType": "this.page",
        "propertyGv": "this.page.invalidSignature",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_e3E1DYsDOaedw3qE",
        "category": "Function",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "sd_2chJWlkXezegJIBK"
            ],
            [
                "sd_8yHTxZHnFYJbbBNU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    },
    {
        "id": "sd_2chJWlkXezegJIBK",
        "type": "SnackBar",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Signature is required"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_2chJWlkXezegJIBK",
        "category": "General",
        "x": 480,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    },
    {
        "id": "sd_8yHTxZHnFYJbbBNU",
        "type": "Log",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.base64String",
        "functionName": "sd_8yHTxZHnFYJbbBNU",
        "category": "General",
        "x": 480,
        "y": 300,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "base64String",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    },
    {
        "id": "sd_kuXsml47C4A9QKtL",
        "type": "HostListener",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "outputs": 1,
        "eventName": "\"window:resize\"",
        "functionName": "sd_kuXsml47C4A9QKtL",
        "category": "Listener",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "sd_dPYHbKsAoXkz2DTL"
            ]
        ],
        "__ssdTypeInputs__": {
            "eventName": {
                "type": "str",
                "value": "window:resize",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "signaturePadComponent"
    },
    {
        "id": "sd_dPYHbKsAoXkz2DTL",
        "type": "Script",
        "z": "sd_nxJfEiOcdy8AGcw0",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const ratio = Math.max(window.devicePixelRatio || 1, 1);\npage.canvas.width = page.canvas.offsetWidth * ratio;\npage.canvas.height = page.canvas.offsetHeight * ratio;\npage.signaturePad.clear(); // otherwise isEmpty() might return incorrect value",
        "functionName": "sd_dPYHbKsAoXkz2DTL",
        "category": "Function",
        "x": 300,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signaturePadComponent",
        "generated": true
    }
]
