designs/pages/verification.json
[
    {
        "id": "sd_77k2dJPQTXfSLBMc",
        "type": "tab",
        "createdDate": "2024-05-13T12:53:09.810Z",
        "label": "verification",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_1CIi3Gk3QFHFap3N",
        "type": "OnInit",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_1CIi3Gk3QFHFap3N",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_K00ER28O6vJJsUMB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_L7i3iZGVOZIdAMpx",
        "type": "PageVariables",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "verificationForm",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                }
            },
            {
                "textIp": "result",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "result"
                }
            }
        ],
        "functionName": "sd_L7i3iZGVOZIdAMpx",
        "category": "Function",
        "x": 245,
        "y": 60,
        "wires": [
            [
                "sd_FrIJQ4NM15l3Z3Xp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_4ZZZqvGiPOFGCWcJ",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "//  if (page.verificationForm.invalid) {\n//    alert('All form fields are required')\n//       return\n//     }\n\n// console.log('submitted page', page.verificationForm)\n\n\n\n\n    let id = page.verificationForm.controls.id.value\n    let DOB = id.substring(0, 6)\n    let year = DOB.substring(0, 2)\n    let yeardigit = year.substring(0, 1)\n    let yeardigit2 = year.substring(1, 2)\n    let month = DOB.substring(2, 4)\n    let day = DOB.substring(4,6)\n    let gender = id.substring(6,10)\n    let country = id.substring(10,11)\n    let eight  = id.substring(11,12)\n\n\n    //year\n    if (Number(yeardigit) < 0) {\n    console.log('Invalid ID number')\n      return\n    }\n\n    if (Number(yeardigit2) < 0) {\n      console.log('Invalid ID number')\n      return\n    }\n    //month\n    if (Number(month) <= 12 && Number(month) >= 1) {\n      // valid\n      console.log('valid month')\n    } else {\n      console.log('Invalid ID month')\n      return\n    }\n    //day\n    if (Number(day) <= 31 && Number(day) >= 1) {\n      // valid\n      console.log('valid day')\n    } else {\n      console.log('Invalid ID number')\n      return\n    }\n\n    //gender\n    if (Number(gender) <= 4999 && Number(gender) >= 0) {\n      console.log(\"Female\");\n    } else if (Number(gender) >= 5000 && Number(gender) <= 9999) {\n      console.log(\"Male\");\n    } else {\n     console.log('Invalid ID number')\n      return\n    }\n\n  //country\n  if (Number(country) === 1) {\n    console.log(\"citizen\");\n  } else if (Number(country) === 0) {\n    console.log(\"South Africa\");\n  } else {\n    console.log('Invalid ID number')\n    return\n  }\n\n//eight\nif (Number(eight) === 8) {\n  // valid\n  console.log('valid day')\n} else {\n   console.log('Invalid ID number')\n  return\n}\n    console.log('valid id', page.verificationForm.controls.id.value)\n\n",
        "functionName": "sd_4ZZZqvGiPOFGCWcJ",
        "category": "Function",
        "x": 225,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_yhd8q2l8AU9abFMt",
        "type": "PageStart",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "pages",
        "nodeType": "start",
        "name": "enter",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "enter",
        "category": "General",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "sd_4ZZZqvGiPOFGCWcJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_s4kWkbPkjpikfrhn",
        "type": "PageStart",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "pages",
        "nodeType": "start",
        "name": "verification",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "form",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "verification",
        "category": "General",
        "x": 45,
        "y": 380,
        "wires": [
            [
                "sd_vYxVeJqQDCgfF20a"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "verificationComponent"
    },
    {
        "id": "sd_zUiYQYNk75jvOV56",
        "type": "Environment",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_zUiYQYNk75jvOV56",
        "category": "General",
        "x": 285,
        "y": 380,
        "wires": [
            [
                "sd_4BPBswPMMDEJOWBi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_4BPBswPMMDEJOWBi",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// page.submitted = true\n\nbh.url = bh.ssdUrl + 'verification' ",
        "functionName": "sd_4BPBswPMMDEJOWBi",
        "category": "Function",
        "x": 405,
        "y": 380,
        "wires": [
            [
                "sd_D1onDjTy0vXPQwqZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_D1onDjTy0vXPQwqZ",
        "type": "HttpRequest",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "verify",
        "method": "post",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMappingObj": {},
        "observe": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "this.page.verificationForm.value",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": "verificationForm.value"
        },
        "resultMapping": "this.page.result",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "verify",
        "category": "HTTP",
        "x": 505,
        "y": 380,
        "wires": [
            [
                "sd_PTZ9PTW5FbDDTaX5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_3EFJNXA4KS1Itfik",
        "type": "PageSwitch",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result.message",
        "propertyType": "this.page",
        "propertyGv": "this.page.result.message",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_3EFJNXA4KS1Itfik",
        "category": "Function",
        "x": 705,
        "y": 380,
        "wires": [
            [
                "sd_Zj9irMRjFofwgYJ3"
            ],
            [
                "sd_Iss5jU3LaYGuTPwD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_Zj9irMRjFofwgYJ3",
        "type": "Navigation",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/register",
        "functionName": "sd_Zj9irMRjFofwgYJ3",
        "category": "Navigation",
        "x": 805,
        "y": 360,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_Iss5jU3LaYGuTPwD",
        "type": "Navigation",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/login",
        "functionName": "sd_Iss5jU3LaYGuTPwD",
        "category": "Navigation",
        "x": 785,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_vYxVeJqQDCgfF20a",
        "type": "PageSwitch",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "verificationForm.valid",
        "propertyType": "this.page",
        "propertyGv": "this.page.verificationForm.valid",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_vYxVeJqQDCgfF20a",
        "category": "Function",
        "x": 165,
        "y": 380,
        "wires": [
            [
                "sd_zUiYQYNk75jvOV56"
            ],
            [
                "sd_vF3oHlpAdQkzoAEn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_vF3oHlpAdQkzoAEn",
        "type": "SnackBar",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Please fill all the inputs"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_vF3oHlpAdQkzoAEn",
        "category": "General",
        "x": 240,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_K00ER28O6vJJsUMB",
        "type": "UseDependency",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControls",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_K00ER28O6vJJsUMB",
        "category": "Function",
        "x": 145,
        "y": 60,
        "wires": [
            [
                "sd_L7i3iZGVOZIdAMpx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_FrIJQ4NM15l3Z3Xp",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.verificationForm = new FormGroup({\n      email: new FormControl(''),\n    idNumber: new FormControl(''),\n  \n})",
        "functionName": "sd_FrIJQ4NM15l3Z3Xp",
        "category": "Function",
        "x": 365,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    },
    {
        "id": "sd_PTZ9PTW5FbDDTaX5",
        "type": "Script",
        "z": "sd_77k2dJPQTXfSLBMc",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"users\", page.result)",
        "functionName": "sd_PTZ9PTW5FbDDTaX5",
        "category": "Function",
        "x": 620,
        "y": 380,
        "wires": [
            [
                "sd_3EFJNXA4KS1Itfik"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "verificationComponent",
        "generated": true
    }
]
